[Unit]
Description=Performance Savior Home (PSH) collects software and hardware performance data when the cloud service is running.

[Service]
Type=simple
ExecStart=/usr/bin/psh -d
Restart=on-abnormal

[Install]
WantedBy=multi-user.target
